<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portofolio</title>

    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
  </head>
  <body>
    <header>
      <div class="container" id="home">
        <nav>
          <div class="logo">
            <a href="#home"
              ><img src="images/LOGO.svg" alt="logo"
            /></a>
          </div>
          <!-- .logo end-->

          <div class="nav-links">
            <a class="nav-link" href="/register">Register</a>
            <a class="nav-link" href="/login">login</a>
            <a class="nav-link" href="/new-project">Add Project</a>
            <a class="nav-link" href="#projects">Projects</a>
            <a class="nav-link" href="#contact">Contact</a>
          </div>

          <div class="bars">
            <img src="images/bars.svg" alt="navbar bars" />
          </div>
        </nav>

        <div class="banner">
          <div class="banner-left">
            <h2 class="title"><% user.username%> Designer & Developer</h2>
            <p>
              I’m a portrait, fashion and lifestyle photographer living In New
              York City. During my thirteen year tenure here.
            </p>
          </div>
          <div class="banner-right">
            <img src="images/header-man.svg" alt="banner image" />
          </div>
        </div>
      </div>
    </header>

    <main id="services">
      <div class="container">
        <div class="services">
          <div class="service">
            <img src="images/icon1.svg" alt="ui/ux design icon" />
            <h3>UI/UX Design</h3>
            <p>
              Our design is translated into comprehensive digital environments
              built on latest development standards.
            </p>
          </div>
          <div class="service">
            <img src="images/icon2.svg" alt="ui/ux design icon" />
            <h3>Development</h3>
            <p>
              Our design is translated into comprehensive digital environments
              built on latest development standards.
            </p>
          </div>
          <div class="service">
            <img src="images/icon3.svg" alt="ui/ux design icon" />
            <h3>software testing</h3>
            <p>
              Our design is translated into comprehensive digital environments
              built on latest development standards.
            </p>
          </div>
        </div>
      </div>

      <div class="portfolios" id="projects">
        <h2>Portfolio</h2>
        <div class="container">
          <div class="portfolio">
            <div>
              <img src="images/portfolio1.svg" alt="portfolio 1" />
            </div>
            <div>
              <a href="#" class="link">Online fashion store - Homepage</a>
            </div>
          </div>
          <div class="portfolio">
            <div>
              <img src="images/portfolio2.svg" alt="portfolio 1" />
            </div>
            <div>
              <a href="#" class="link">Reebok Store - Concept</a>
            </div>
          </div>
          <div class="portfolio">
            <div>
              <img src="images/portfolio3.svg" alt="portfolio 1" />
            </div>
            <div>
              <a href="#" class="link">Braun Landing Page - Concept</a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer id="contact">
      <h2>Contacts</h2>
      <p class="info">Want to know more or just chat? <br> You are welcome!</p>
      <a href="#" class="send-message-button">Send Message</a>

      <div class="social-media-icons">
        <a href="#">
          <img src="images/linkedinIcon.svg" alt="linkedin icon" />
        </a>
        <a href="#">
          <img src="images/InstargamIcon.svg" alt="instagram icon" />
        </a>
        <a href="#">
          <img src="images/behanceIcon.svg" alt="behance icon" />
        </a>
        <a href="#">
          <img src="images/surfaceIcon.svg" alt="surface icon" />
        </a>
      </div>

      <p class="social-media-info">Like me on <br> LinkedIn, Instagram, Behance, Dribble</p>
    </footer>
  </body>
</html>
