<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login </title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="css2/style.css">
</head>
<body>
    <div class="nav-links">
        <a class="nav-link" href="/register">Register</a>
        <a class="nav-link" href="/login">login</a>
        <a class="nav-link" href="/new-project">Add Project</a>
        <a class="nav-link" href="#projects">Projects</a>
        <a class="nav-link" href="#contact">Contact</a>
      </div>
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Add Project</header>
      <form>
        <input type="text" placeholder="Enter your project name" name="project">
        <input type="file" placeholder="Enter your projcet image" name="image" id="avatar2">
        <input type="button" class="button" value="Submit">
      </form>
    </div>
  </div>
</body>
</html>

<!-- <div class="open_grepper_editor" title="Edit & Save To Grepper"></div> -->